.mat-expansion-indicator,mat-expansion-panel-header,mat-expansion-panel ,mat-panel-title{
     background-color: #130a36;
    color: #d6d0e6;
}
:host ::ng-deep .mat-expansion-indicator::after {
  color: #d6d0e6;
  size: 10px;
  padding: 4px
}

li{
    font-size: 16px;
}
a{
  text-decoration: none;
    color: #d6d0e6;
}