<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" />
			<error statusCode="404" path="/shafaemr/index.html" responseMode="ExecuteURL" />
		</httpErrors>

		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".map" />
			<mimeMap fileExtension=".map" mimeType="application/json" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
		<directoryBrowse enabled="false" />
		<httpRedirect enabled="false" />
	</system.webServer>
</configuration>
